<div class="text-center">
    <h1>Lists</h1>
</div>
<a href="/lists/create" class="button secondary">Create New List</a>
<div class="ul-list">
    <% for (list of lists) { %>
        <a href="/lists/<%= list._id %>">
            <div></div>
            <div><%= list.l_Title %></div>
        </a>
    <% } %>
    </div>
