<h1>New List</h1>
<form action="/lists/create" method="post">
    <input type="date" name="l_LastUpdated" class="hidden">
    <input type="text" name="l_Title" id="title" placeholder="Title">
    <input type="text" name="l_Items" placeholder="Write item here">
</form>

<span class="button add">
    Save List
</span>



<script src="/js/lists/addItem.js"></script>