    <footer class="p-5 " style="text-align: center;height:50px; background-color: white;">
    <div class="container">
    <div class="row">
      <div class="col-sm-4 p-4">
          
        <p><b>About Hayden</b></p>
        <p><i class="far fa-envelope-open"> </i> haydenthoopes@gmail.com</p>
        <p><i class="fas fa-code-branch"></i> Github: haydenhoopes</p>
        <p><i class="fas fa-crow"></i> Kaggle: haydenhoopes</p>
        <p><i class="fas fa-phone"> </i> +1 (208) 559-5155</p>
        <p><i class="fas fa-home"> </i> Logan, Utah</p>
        <p><i class="fas fa-graduation-cap"> </i> Utah State University</p>
        <p><i class="far fa-calendar-check"> </i> B.S. Data Analytics 05/01/2022</p>
        <p><i class="far fa-calendar-check"> </i> Master's of Information Systems 05/01/2023</p>
      </div>
      <div class="col-sm-4 p-4">
          
        <p><b>Awards and Recognition</b></p>
        <p><i class="fas fa-chart-line"> </i> USU Presidential 4-year Scholarship</p>
        <p><i class="fas fa-chart-line"> </i> USU Honors Program</p>
        <p><i class="fas fa-chart-line"> </i> USU Dean's List 2018, 2020</p>
        <p><i class="fas fa-chart-line"> </i> USU Student Employee of the Year 2020 (Nominated)</p>
        <p><i class="fas fa-chart-line"> </i> USU Huntsman Scholars Program Team Lead</p>
        <p><i class="fas fa-chart-line"> </i> Association for Information Systems Club Leader</p>
        <p><i class="fas fa-chart-line"> </i> Microsoft Excel Assiciate Certified</p>
        <p><i class="fas fa-chart-line"> </i> Research Presentations at UCUR, ROCH, NCUR</p>
        <p><i class="fas fa-chart-line"> </i> <a style="text-decoration: none;" href="https://scholar.google.com/citations?user=NfAtldIAAAAJ&hl=en&oi=ao">Published Essays in the Digital Commons</a></p>
      </div>
      <div class="col-sm-4 p-4">
          
        <p><b>Skills</b></p>
        <p><i class="fas fa-pencil-alt"> </i> Analytics</p>
        <p><i class="fas fa-pencil-alt"> </i> Amazon Web Services</p>
        <p><i class="fas fa-pencil-alt"> </i> Database</p>
        <p><i class="fas fa-pencil-alt"> </i> Frameworks</p>
        <p><i class="fas fa-pencil-alt"> </i> Languages</p>
        <p><i class="fas fa-pencil-alt"> </i> Libraries</p>
        <p><i class="fas fa-pencil-alt"> </i> Presentation</p>
        <p><i class="fas fa-pencil-alt"> </i> Strategy</p>
        <p><i class="fas fa-code-branch"> </i> Testing</p>
        <p><i class="fab fa-js-square"> </i> Other</p>
      </div>
  </div>
  </div>
</footer>