<div class="mt-5 py-3" style="border-top: rgb(108,99,255) solid 2px; background-color: rgb(242, 242, 242);">
    <div class="container footer-ul">
        <h4>Hayden Hoopes</h4>
        <div class="row" >
            <div class="col-7">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>Contact</h6>
                        <ul>
                            <li>Logan, UT</li>
                            <li><small>haydenthoopes@gmail.com</small></li>
                            <li> +1 (208) 559-5155</li>
                            <li>Management Information Systems</li>
                            <span>
                                <!-- <a href=""></a><svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="20px" height="20px"><path d="M 3.5 1 C 2.1250151 1 1 2.1250151 1 3.5 L 1 11.5 C 1 12.874985 2.1250151 14 3.5 14 L 11.5 14 C 12.874985 14 14 12.874985 14 11.5 L 14 3.5 C 14 2.1250151 12.874985 1 11.5 1 L 3.5 1 z M 3.5 2 L 11.5 2 C 12.335015 2 13 2.6649849 13 3.5 L 13 11.5 C 13 12.335015 12.335015 13 11.5 13 L 9.9042969 13 L 9.9042969 8.9667969 L 11.300781 8.9667969 L 11.509766 7.3574219 L 9.9042969 7.3574219 L 9.9042969 6.3320312 C 9.9042969 5.8660312 10.034031 5.5488281 10.707031 5.5488281 L 11.566406 5.5488281 L 11.566406 4.109375 C 11.417406 4.089375 10.907453 4.046875 10.314453 4.046875 C 9.0764531 4.046875 8.2304688 4.795875 8.2304688 6.171875 L 8.2304688 7.3574219 L 7 7.3535156 L 7 8.9628906 L 8.2304688 8.9667969 L 8.2304688 13 L 3.5 13 C 2.6649849 13 2 12.335015 2 11.5 L 2 3.5 C 2 2.6649849 2.6649849 2 3.5 2 z"/></svg> -->
                                <!-- <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="20px" height="20px"><path d="M 4.773438 1 C 2.695313 1 1 2.695313 1 4.773438 L 1 10.230469 C 1 12.304688 2.695313 14 4.773438 14 L 10.230469 14 C 12.304688 14 14 12.304688 14 10.226563 L 14 4.773438 C 14 2.695313 12.304688 1 10.226563 1 Z M 4.773438 2 L 10.226563 2 C 11.765625 2 13 3.234375 13 4.773438 L 13 10.226563 C 13 11.765625 11.765625 13 10.230469 13 L 4.773438 13 C 3.234375 13 2 11.765625 2 10.230469 L 2 4.773438 C 2 3.234375 3.234375 2 4.773438 2 Z M 11.5 3 C 11.222656 3 11 3.222656 11 3.5 C 11 3.777344 11.222656 4 11.5 4 C 11.777344 4 12 3.777344 12 3.5 C 12 3.222656 11.777344 3 11.5 3 Z M 7.5 4 C 5.574219 4 4 5.574219 4 7.5 C 4 9.425781 5.574219 11 7.5 11 C 9.425781 11 11 9.425781 11 7.5 C 11 5.574219 9.425781 4 7.5 4 Z M 7.5 5 C 8.886719 5 10 6.113281 10 7.5 C 10 8.886719 8.886719 10 7.5 10 C 6.113281 10 5 8.886719 5 7.5 C 5 6.113281 6.113281 5 7.5 5 Z"/></svg> -->
                                <a href="https://www.linkedin.com/in/haydenhoopes/"><svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="20px" height="20px"><path d="M 2.757813 1 C 1.792969 1 1 1.792969 1 2.757813 L 1 12.246094 C 1 13.207031 1.792969 14 2.757813 14 L 12.246094 14 C 13.207031 14 14 13.207031 14 12.246094 L 14 2.757813 C 14 1.792969 13.207031 1 12.246094 1 Z M 2.757813 2 L 12.246094 2 C 12.667969 2 13 2.332031 13 2.757813 L 13 12.246094 C 13 12.667969 12.667969 13 12.246094 13 L 2.757813 13 C 2.332031 13 2 12.667969 2 12.246094 L 2 2.757813 C 2 2.332031 2.332031 2 2.757813 2 Z M 4 3 C 3.449219 3 3 3.449219 3 4 C 3 4.550781 3.449219 5 4 5 C 4.550781 5 5 4.550781 5 4 C 5 3.449219 4.550781 3 4 3 Z M 3 6 L 3 12 L 5 12 L 5 6 Z M 6 6 L 6 12 L 8 12 L 8 9.320313 C 8 8.488281 8.078125 7.742188 9.078125 7.742188 C 10.0625 7.742188 10 8.636719 10 9.375 L 10 12 L 12 12 L 12 9.039063 C 12 7.320313 11.640625 6 9.691406 6 C 8.753906 6 8.28125 6.375 8.023438 6.875 L 8 6.875 L 8 6 Z"/></svg></a>
                                <!-- <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="20px" height="20px"><path d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"/></svg> -->
                            </span>
                            
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Research</h6>
                        <ul>
                            <li>Curriculum Complexity</li>
                            <li>Housing</li> 
                            <li>Recreational Facilities</li>   
                            <li>Football Game Attendance</li>
                            <li>Library</li>   
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Roles</h6>
                        <ul>
                            <li>Webmaster</li>
                            <li>Instructor</li>   
                            <li>Undergraduate Researcher</li>   
                            <li>Q&A Engineer Intern</li> 
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Topics</h6>
                        <ul>
                            <li>Web Scraping</li>
                            <li>Data Analysis</li>
                            <li>Report Building</li>
                            <li>Database Apps</li>
                            <li>Statistics</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-sm-12">
                        <h6>Technologies</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul id="ul0">
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul id="ul1">
                                    </ul>
                            </div>

                            <div class="col-sm-4">
                                <ul id="ul2">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="text-center py-2 text-light" style="opacity: .95; background-color: rgb(108,99,255);">
    <span>
        <a href="<%= urlPrefix %>/privacy">Privacy</a> | <a href="<%= urlPrefix %>/sitemap">Sitemap</a> | <a href="<%= urlPrefix %>/contact">Contact</a> &copy; 2021 Hayden Hoopes</span>
</div>








  

<script>
    $.get({
        url: "<%= urlPrefix %>/technologies",
        error: (err) => {
            console.log(err);
        },
        success: (data) => {
            for (let i=0; i<data.length;i++) {
                let rem = i % 3;
                let t = decodeURI(data[i].name);
                $(`#ul${rem}`).append(`<li>${t}</li>`)
            }
        }
    })
</script>