    <footer class="p-5 " style="text-align: center;height:50px">
    <div class="container">
    <div class="row">
      <div class="col-sm-4 p-4">
          
        <p><b>About Hayden</b></p>
        <p><i class="far fa-envelope-open"> </i> haydenthoopes@gmail.com</p>
        <p><i class="fas fa-code-branch"></i> Github: haydenhoopes</p>
        <p><i class="fas fa-crow"></i> Kaggle: haydenhoopes</p>
        <p><i class="fas fa-phone"> </i> +1 (208) 559-5155</p>
        <p><i class="fas fa-home"> </i> Logan, Utah</p>
        <p><i class="fas fa-graduation-cap"> </i> Utah State University</p>
        <p><i class="far fa-calendar-check"> </i> B.S. Data Analytics 05/01/2022</p>
        <p><i class="far fa-calendar-check"> </i> Master's of Information Systems 05/01/2023</p>
      </div>
      <div class="col-sm-4 p-4">
          
        <p><b>Qualifications</b></p>
        <p><i class="fas fa-chart-line"> </i> Undergraduate Data Analyst</p>
        <p><i class="fas fa-code"> </i> Teacher's Assistant: Node.js</p>
        <p><i class="far fa-file"> </i> Canvas Report Application</p>
      </div>
      <div class="col-sm-4 p-4">
          
        <p><b>Skills at a Glance</b></p>
        <p><i class="fas fa-pencil-alt"> </i> Natural Language Processing</p>
        <p><i class="fas fa-code-branch"> </i> Git</p>
        <p><i class="fab fa-js-square"> </i> Advanced JavaScript</p>
        <p><i class="fab fa-python"> </i> Advanced Python</p>
      </div>
  </div>
  </div>
</footer>