<nav class="navbar navbar-expand-md bg-warning navbar-dark">
    <div class="container">
    <a class="navbar-brand" href="/">Mangoes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleMangoNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleMangoNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/mangoes/add">New mango</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mangoes/expenses">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mangoes/income">Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mangoes/budget">Budget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mangoes/tithing">Tithing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mangoes/analytics">Analytics</a>
        </li>
      </ul>
    </div>  
  </div>
  </nav>
