<nav class="navbar">
  <ul class="navbar-nav">

    <li class="logo">
      <a href="/" class="nav-link">
        <span class="nav-link-text">Hayden Hoopes</span>
        <svg class="svg-icon" aria-hidden="true" viewBox="0 0 20 20">
          <path class="fa-primary" d="M18.21,16.157v-8.21c0-0.756-0.613-1.368-1.368-1.368h-1.368v1.368v1.368v6.841l-1.368,3.421h5.473L18.21,16.157z"></path>
          <path class="fa-primary" d="M4.527,9.316V7.948V6.579H3.159c-0.756,0-1.368,0.613-1.368,1.368v8.21l-1.368,3.421h5.473l-1.368-3.421V9.316z"></path>
          <path class="fa-primary" d="M14.766,5.895h0.023V5.21c0-2.644-2.145-4.788-4.789-4.788S5.211,2.566,5.211,5.21v0.685h0.023H14.766zM12.737,3.843c0.378,0,0.684,0.307,0.684,0.684s-0.306,0.684-0.684,0.684c-0.378,0-0.684-0.307-0.684-0.684S12.358,3.843,12.737,3.843z M10,1.448c0.755,0,1.368,0.613,1.368,1.368S10.755,4.185,10,4.185c-0.756,0-1.368-0.613-1.368-1.368S9.244,1.448,10,1.448z"></path>
          <path class="fa-primary" d="M14.789,6.579H5.211v9.578l1.368,1.368h6.841l1.368-1.368V6.579z M12.052,12.052H7.948c-0.378,0-0.684-0.306-0.684-0.684c0-0.378,0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.306,0.684,0.684C12.737,11.746,12.431,12.052,12.052,12.052z M12.052,9.316H7.948c-0.378,0-0.684-0.307-0.684-0.684s0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.307,0.684,0.684S12.431,9.316,12.052,9.316z"></path>
        </svg>
      </a>
    </li>

    <li class="nav-item nav-home-button">
      <a href="/" class="nav-link">
        <svg class="svg-icon" aria-hidden="true" viewBox="0 0 20 20">
          <path class="fa-primary" d="M18.21,16.157v-8.21c0-0.756-0.613-1.368-1.368-1.368h-1.368v1.368v1.368v6.841l-1.368,3.421h5.473L18.21,16.157z"></path>
          <path class="fa-primary" d="M4.527,9.316V7.948V6.579H3.159c-0.756,0-1.368,0.613-1.368,1.368v8.21l-1.368,3.421h5.473l-1.368-3.421V9.316z"></path>
          <path class="fa-primary" d="M14.766,5.895h0.023V5.21c0-2.644-2.145-4.788-4.789-4.788S5.211,2.566,5.211,5.21v0.685h0.023H14.766zM12.737,3.843c0.378,0,0.684,0.307,0.684,0.684s-0.306,0.684-0.684,0.684c-0.378,0-0.684-0.307-0.684-0.684S12.358,3.843,12.737,3.843z M10,1.448c0.755,0,1.368,0.613,1.368,1.368S10.755,4.185,10,4.185c-0.756,0-1.368-0.613-1.368-1.368S9.244,1.448,10,1.448z"></path>
          <path class="fa-primary" d="M14.789,6.579H5.211v9.578l1.368,1.368h6.841l1.368-1.368V6.579z M12.052,12.052H7.948c-0.378,0-0.684-0.306-0.684-0.684c0-0.378,0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.306,0.684,0.684C12.737,11.746,12.431,12.052,12.052,12.052z M12.052,9.316H7.948c-0.378,0-0.684-0.307-0.684-0.684s0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.307,0.684,0.684S12.431,9.316,12.052,9.316z"></path>
        </svg>
        <span class="nav-link-text">Home</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/coconuts" class="nav-link">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path class="fa-primary" d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
        </svg>
        <span class="nav-link-text">Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/lists" class="nav-link">
        <svg class="svg-icon" viewBox="0 0 24 24" width="24px" height="24px">
          <path class="fa-primary" d="M 8 2 C 6.3550302 2 5 3.3550302 5 5 L 5 16 L 2 16 L 2 19 C 2 20.64497 3.3550302 22 5 22 L 14 22 L 15 22 C 16.64497 22 18 20.64497 18 19 L 18 8 L 22 8 L 22 5 C 22 3.3550302 20.64497 2 19 2 L 8 2 z M 8 4 L 16.1875 4 C 16.07394 4.3148915 16 4.6481575 16 5 L 16 19 C 16 19.560181 15.571617 19.990667 15.013672 19.998047 L 15.013672 19.986328 C 14.450185 19.993939 14.007651 19.563085 14 19 L 13.972656 16.003906 L 13 16.013672 L 13 16 L 7 16 L 7 5 C 7 4.4349698 7.4349698 4 8 4 z M 19 4 C 19.56503 4 20 4.4349698 20 5 L 20 6 L 18 6 L 18 5 C 18 4.4349698 18.43497 4 19 4 z M 4 18 L 11.990234 18 L 12 19.025391 L 12 19.027344 C 12.004654 19.369889 12.081227 19.693696 12.193359 20 L 5 20 C 4.4349698 20 4 19.56503 4 19 L 4 18 z"/></svg>
        <span class="nav-link-text">Lists</span>
      </a>
    </li>

    <% if (currentUser && currentUser.isAdmin) { %>
    <li class="nav-item">
      <a href="/pineapples" class="nav-link">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path class="fa-primary" d="M8.627,7.885C8.499,8.388,7.873,8.101,8.13,8.177L4.12,7.143c-0.218-0.057-0.351-0.28-0.293-0.498c0.057-0.218,0.279-0.351,0.497-0.294l4.011,1.037C8.552,7.444,8.685,7.667,8.627,7.885 M8.334,10.123L4.323,9.086C4.105,9.031,3.883,9.162,3.826,9.38C3.769,9.598,3.901,9.82,4.12,9.877l4.01,1.037c-0.262-0.062,0.373,0.192,0.497-0.294C8.685,10.401,8.552,10.18,8.334,10.123 M7.131,12.507L4.323,11.78c-0.218-0.057-0.44,0.076-0.497,0.295c-0.057,0.218,0.075,0.439,0.293,0.495l2.809,0.726c-0.265-0.062,0.37,0.193,0.495-0.293C7.48,12.784,7.35,12.562,7.131,12.507M18.159,3.677v10.701c0,0.186-0.126,0.348-0.306,0.393l-7.755,1.948c-0.07,0.016-0.134,0.016-0.204,0l-7.748-1.948c-0.179-0.045-0.306-0.207-0.306-0.393V3.677c0-0.267,0.249-0.461,0.509-0.396l7.646,1.921l7.654-1.921C17.91,3.216,18.159,3.41,18.159,3.677 M9.589,5.939L2.656,4.203v9.857l6.933,1.737V5.939z M17.344,4.203l-6.939,1.736v9.859l6.939-1.737V4.203z M16.168,6.645c-0.058-0.218-0.279-0.351-0.498-0.294l-4.011,1.037c-0.218,0.057-0.351,0.28-0.293,0.498c0.128,0.503,0.755,0.216,0.498,0.292l4.009-1.034C16.092,7.085,16.225,6.863,16.168,6.645 M16.168,9.38c-0.058-0.218-0.279-0.349-0.498-0.294l-4.011,1.036c-0.218,0.057-0.351,0.279-0.293,0.498c0.124,0.486,0.759,0.232,0.498,0.294l4.009-1.037C16.092,9.82,16.225,9.598,16.168,9.38 M14.963,12.385c-0.055-0.219-0.276-0.35-0.495-0.294l-2.809,0.726c-0.218,0.056-0.351,0.279-0.293,0.496c0.127,0.506,0.755,0.218,0.498,0.293l2.807-0.723C14.89,12.825,15.021,12.603,14.963,12.385"></path>
        </svg>
        <span class="nav-link-text">Journal</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/mangoes" class="nav-link">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path class="fa-primary" d="M5.229,6.531H4.362c-0.239,0-0.434,0.193-0.434,0.434c0,0.239,0.194,0.434,0.434,0.434h0.868c0.24,0,0.434-0.194,0.434-0.434C5.663,6.724,5.469,6.531,5.229,6.531 M10,6.531c-1.916,0-3.47,1.554-3.47,3.47c0,1.916,1.554,3.47,3.47,3.47c1.916,0,3.47-1.555,3.47-3.47C13.47,8.084,11.916,6.531,10,6.531 M11.4,11.447c-0.071,0.164-0.169,0.299-0.294,0.406c-0.124,0.109-0.27,0.191-0.437,0.248c-0.167,0.057-0.298,0.09-0.492,0.098v0.402h-0.35v-0.402c-0.21-0.004-0.352-0.039-0.527-0.1c-0.175-0.064-0.324-0.154-0.449-0.27c-0.124-0.115-0.221-0.258-0.288-0.428c-0.068-0.17-0.1-0.363-0.096-0.583h0.664c-0.004,0.259,0.052,0.464,0.169,0.613c0.116,0.15,0.259,0.229,0.527,0.236v-1.427c-0.159-0.043-0.268-0.095-0.425-0.156c-0.157-0.061-0.299-0.139-0.425-0.235C8.852,9.752,8.75,9.631,8.672,9.486C8.594,9.34,8.556,9.16,8.556,8.944c0-0.189,0.036-0.355,0.108-0.498c0.072-0.144,0.169-0.264,0.292-0.36c0.122-0.097,0.263-0.17,0.422-0.221c0.159-0.052,0.277-0.077,0.451-0.077V7.401h0.35v0.387c0.174,0,0.29,0.023,0.445,0.071c0.155,0.047,0.29,0.118,0.404,0.212c0.115,0.095,0.206,0.215,0.274,0.359c0.067,0.146,0.103,0.315,0.103,0.508H10.74c-0.007-0.201-0.06-0.354-0.154-0.46c-0.096-0.106-0.199-0.159-0.408-0.159v1.244c0.174,0.047,0.296,0.102,0.462,0.165c0.167,0.063,0.314,0.144,0.443,0.241c0.128,0.099,0.23,0.221,0.309,0.366c0.077,0.146,0.116,0.324,0.116,0.536C11.509,11.092,11.473,11.283,11.4,11.447 M18.675,4.795H1.326c-0.479,0-0.868,0.389-0.868,0.868v8.674c0,0.479,0.389,0.867,0.868,0.867h17.349c0.479,0,0.867-0.389,0.867-0.867V5.664C19.542,5.184,19.153,4.795,18.675,4.795M1.76,5.664c0.24,0,0.434,0.193,0.434,0.434C2.193,6.336,2,6.531,1.76,6.531S1.326,6.336,1.326,6.097C1.326,5.857,1.52,5.664,1.76,5.664 M1.76,14.338c-0.24,0-0.434-0.195-0.434-0.434c0-0.24,0.194-0.434,0.434-0.434s0.434,0.193,0.434,0.434C2.193,14.143,2,14.338,1.76,14.338 M18.241,14.338c-0.24,0-0.435-0.195-0.435-0.434c0-0.24,0.194-0.434,0.435-0.434c0.239,0,0.434,0.193,0.434,0.434C18.675,14.143,18.48,14.338,18.241,14.338 M18.675,12.682c-0.137-0.049-0.281-0.08-0.434-0.08c-0.719,0-1.302,0.584-1.302,1.303c0,0.152,0.031,0.297,0.08,0.434H2.981c0.048-0.137,0.08-0.281,0.08-0.434c0-0.719-0.583-1.303-1.301-1.303c-0.153,0-0.297,0.031-0.434,0.08V7.318c0.136,0.049,0.28,0.08,0.434,0.08c0.718,0,1.301-0.583,1.301-1.301c0-0.153-0.032-0.298-0.08-0.434H17.02c-0.049,0.136-0.08,0.28-0.08,0.434c0,0.718,0.583,1.301,1.302,1.301c0.152,0,0.297-0.031,0.434-0.08V12.682z M18.241,6.531c-0.24,0-0.435-0.194-0.435-0.434c0-0.24,0.194-0.434,0.435-0.434c0.239,0,0.434,0.193,0.434,0.434C18.675,6.336,18.48,6.531,18.241,6.531 M9.22,8.896c0,0.095,0.019,0.175,0.058,0.242c0.039,0.066,0.088,0.124,0.148,0.171c0.061,0.047,0.13,0.086,0.21,0.115c0.079,0.028,0.11,0.055,0.192,0.073V8.319c-0.21,0-0.322,0.044-0.437,0.132C9.277,8.54,9.22,8.688,9.22,8.896 M15.639,12.602h-0.868c-0.239,0-0.434,0.195-0.434,0.434c0,0.24,0.194,0.436,0.434,0.436h0.868c0.24,0,0.434-0.195,0.434-0.436C16.072,12.797,15.879,12.602,15.639,12.602 M10.621,10.5c-0.068-0.052-0.145-0.093-0.23-0.124c-0.086-0.031-0.123-0.06-0.212-0.082v1.374c0.209-0.016,0.332-0.076,0.465-0.186c0.134-0.107,0.201-0.281,0.201-0.516c0-0.11-0.02-0.202-0.062-0.277C10.743,10.615,10.688,10.551,10.621,10.5"></path>
        </svg>
        <span class="nav-link-text">Finances</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/music" class="nav-link">
        <svg class="svg-icon" viewBox="0, 0, 400,408.9171974522293"><g class="fa-primary"><path class="fa-primary" d="M305.732 55.399 C 288.567 59.846,242.277 71.644,202.866 81.617 L 131.210 99.749 131.210 186.180 C 131.210 233.717,130.952 272.611,130.637 272.611 C 130.322 272.611,127.447 270.845,124.249 268.687 C 81.381 239.756,24.622 280.344,37.634 330.624 C 49.867 377.898,113.834 388.297,140.321 347.317 C 149.791 332.664,149.501 335.455,150.268 251.612 L 150.955 176.472 231.847 155.964 C 276.338 144.685,314.315 135.064,316.242 134.583 L 319.745 133.709 319.745 180.202 L 319.745 226.695 313.756 222.898 C 264.299 191.533,205.569 242.513,230.641 295.046 C 253.226 342.368,323.424 334.916,337.045 283.750 C 338.999 276.412,339.826 47.042,337.898 47.224 C 337.373 47.274,322.898 50.953,305.732 55.399 M319.740 92.675 L 319.734 114.013 236.619 134.935 C 190.905 146.443,152.787 156.106,151.911 156.409 C 150.679 156.836,150.318 152.179,150.318 135.829 L 150.318 114.698 153.822 113.820 C 164.441 111.158,319.160 71.603,319.427 71.482 C 319.602 71.402,319.743 80.939,319.740 92.675 M296.391 235.039 C 322.260 245.847,327.460 282.068,305.622 299.331 C 280.586 319.120,244.244 301.780,244.218 270.034 C 244.196 243.295,271.814 224.770,296.391 235.039 M109.122 282.254 C 127.430 291.089,135.492 313.112,127.116 331.408 C 110.889 366.853,59.168 358.104,55.157 319.236 C 52.199 290.572,82.843 269.572,109.122 282.254 " stroke="none" fill="#000000" fill-rule="evenodd"></path></g></svg>
        <span class="nav-link-text">Music</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/users/messages" class="nav-link">
        <svg class="svg-icon" viewBox="0 0 361.000000 286.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,286.000000) scale(0.100000,-0.100000)"
class="fa-primary">
<path d="M850 2427 c-49 -16 -133 -102 -148 -153 -17 -59 -17 -1369 0 -1428
16 -55 99 -138 154 -154 24 -7 100 -12 178 -12 l136 0 0 -215 c0 -216 0 -216
25 -240 49 -50 58 -45 383 215 l300 240 502 0 c365 0 514 3 544 12 55 16 138
99 154 154 17 59 17 1369 0 1428 -16 55 -99 138 -154 154 -56 16 -2021 15
-2074 -1z m2055 -172 l25 -24 0 -671 0 -671 -25 -24 -24 -25 -529 0 -529 0
-244 -195 -244 -195 -5 176 c-7 230 12 214 -242 214 -187 0 -189 0 -213 25
l-25 24 0 671 0 671 25 24 24 25 991 0 991 0 24 -25z"/>
<path d="M1195 1775 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 671
0 671 0 24 25 c33 32 33 78 0 110 l-24 25 -671 0 -671 0 -24 -25z"/>
<path d="M1195 1455 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 351
0 351 0 24 25 c16 15 25 36 25 55 0 19 -9 40 -25 55 l-24 25 -351 0 -351 0
-24 -25z"/>
</g>
</svg>
        <span class="nav-link-text">Messages</span>
      </a>
    </li>

    <% } %>


    <li class="nav-item">
      <a href="/users/login" class="nav-link">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path class="fa-primary" d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z"></path>
        </svg>
        <span class="nav-link-text">Log In</span>
      </a>
    </li>

  </ul>
</nav>