  <!-- <img src="https://haydenhoopes.github.io/hayden-assets/img/main/banner-moab.jpg" alt="Hayden In Moab" id="banner"> -->
  <div id="banner">
    <div id="banner-element">
      <h1 id="banner-name">Hayden <span style="font-weight: 300;">Hoopes</span></h1>
    </div>
  </div>

  <h6 id="contact-info">haydenthoopes@gmail.com | +1 (208) 559-5155</h6>

  <div class="section-title">
    <h2>Data Science and Analysis</h2>
  </div>
  <div>

  </div>
  <div class="section-title">
    <h2>Management of Information Systems</h2>
  </div>
  <div class="section-title">
    <h2>Curriculum Development Research</h2>
  </div>
<div class="grid-container">

</div>
