
<div style="max-width: 1500px;margin: auto;">
  <h1 class="p-5" style="text-align: center;">Hayden Hoopes</h1>
<% if (currentUser && currentUser.isAdmin) { %>
<a href='/mangoes' class="text-decoration-none"><div class="jumbotron bg-warning text-white w3-hover-sepia">
    <h1>Mangoes</h1>
    <p>A mango is a stone fruit produced from numerous species of tropical trees belonging to the flowering plant genus Mangifera, cultivated...</p>
  </div></a>
  <% } %>

  <a href=# class="text-decoration-none "><div class="jumbotron bg-blue text-white w3-hover-sepia">
    <h1>About Me</h1>
    <p>After growing up in Boise, Idaho, I moved to Utah to study Business Administration. Shortly after, I fell in love with data and the rest is history...</p>
  </div></a>

  <a href=# class="text-decoration-none "><div class="jumbotron bg-red text-white w3-hover-sepia">
    <h1>Projects</h1>
    <p>From web development to data science, take a look at what I've been working on during the past few years...</p>
  </div></a>

  <a href=# class="text-decoration-none "><div class="jumbotron bg-lightblue text-white w3-hover-sepia">
    <h1>Mana Beadwork</h1>
    <p>Taught by Ecuadorian natives, I started designing intricately beaded indigenous bracelets and keychains when I was 20 years old. Check out some of my past projects...</p>
  </div></a>
</div>