  <!-- <img src="https://haydenhoopes.github.io/hayden-assets/img/main/banner-moab.jpg" alt="Hayden In Moab" id="banner">
  <div id="banner">
    <div id="banner-element">
      <h1 id="banner-name">Hayden <span style="font-weight: 300;">Hoopes</span></h1>
    </div>
  </div> -->
  <div class="banner-container">
    <img src="./images/pictures/IMG-20180808-WA0009.jpg" alt="Hayden Hoopes" class="banner-img">
    <div class="banner-text-right"><p><span>Hayden</span> Hoopes</p>
    
    </div>
  </div>
<span>Hayden Hoopes</span>

  <div class="section-title">
    <h2>About Me</h2>
  </div>

  <div class="section-title">
    <h2>Let's build something</h2>
  </div>
  <div class="section-title">
    <h2>Latest Projects</h2>
  </div>
  <div class="section-title">
    <h2>About Me</h2>
  </div>

  <div class="section-title">
    <h2>Let's build something</h2>
  </div>
  <div class="section-title">
    <h2>Latest Projects</h2>
  </div>
  <div class="section-title">
    <h2>About Me</h2>
  </div>

  <div class="section-title">
    <h2>Let's build something</h2>
  </div>
  <div class="section-title">
    <h2>Latest Projects</h2>
  </div>
  <div class="section-title">
    <h2>About Me</h2>
  </div>

  <div class="section-title">
    <h2>Let's build something</h2>
  </div>
  <div class="section-title">
    <h2>Latest Projects</h2>
  </div>