
  <div class="banner-background">
    <div class="banner">
      <img src="/images/pictures/IMG-20180808-WA00091.png" alt="Hayden Hoopes">
      <div>
        <p><span>Hayden </span>Hoopes</p>
        <p class="banner-subtitle">Data Analytics. Cloud computing. Curriculum development.</p>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener("scroll", () => {
      threshold = 200;
      var scroll = window.pageYOffset;
      if ( scroll <= threshold) {
        var opacity = 1 - scroll / threshold;
      } else {
        var opacity = 0;
      }
      document.querySelector(".banner img").style.opacity = opacity;
    })
  </script>


  <div class="index-content">
    <span>Hayden Hoopes</span>

      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="section-title">
        <h2>Let's build something</h2>
      </div>
      <div class="section-title">
        <h2>Latest Projects</h2>
      </div>
  </div>
