
<div class="container banner-background">
  <div class="banner">
    <p><span>Hayden </span>Hoopes</p>
    <p class="banner-subtitle">Data Analytics. Cloud computing. Curriculum development.</p>
  </div>
	<div class="shape-blob"></div>
	<div class="shape-blob one"></div>
	<div class="shape-blob two"></div>
</div>
  <div class="text-center">
    <div class="row logos">
      <div class="col-4 col-s-12">
        <img src="./images/pictures/btech.png" alt="btech">
      </div>
      <div class="col-4 col-s-12">
        <img src="./images/pictures/usuVerticalLogo.jpg" alt="Utah State University" style="max-width: 100%;">
      </div>
      <div class="col-4 col-s-12">
        <img src="./images/pictures/04.01.09_LDS Logo Online.png" alt="Utah State University" style="max-width: 100%;">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-s-12 text-center">
        <a href="/contact" class="button">Let's talk</a>
      </div>

    </div>
    <h1>Projects</h1>
    <div class="row">
      <div class="col-4 col-s-12">
        <div class="box">
          <h3 class="box-header">Beginner's Python Course</h3>
          <div class="box-body">
            <p>While working at Bridgerland Technical College, I created an Introduction to Python course that teaches students the basics of the Python programming language. The assignments are challenging, yet fun!</p>
            <a class="button" href="/coconuts">Check it out</a>
          </div>
        </div>
      </div>

      <div class="col-4 col-s-12">
        <div class="box">
          <h3 class="box-header">Python</h3>
        </div>
      </div>
      <div class="col-4 col-s-12">
        <div class="box">
          <h3 class="box-header">All Projects</h3>
          <div class="box-body">
            <p>I enjoy creating projects using WordPress, JavaScript, and Amazon Web Services. Check them out along with my research and curriculum development projects!</p>
            <a class="button" href="/coconuts">Browse Projects</a>
          </div>
        </div>
      </div>
    </div>

  </div>
