.banner-background {
    width: calc(100% + 2.5rem);
    background-image: linear-gradient(var(--fa-primary-color), var(--fa-secondary-color),white);
    position: relative;
    bottom: 3.5rem;
    right: 1.5rem;
    /* padding-top: 5rem; */
    overflow-x: hidden;
}

.banner {
    /* text-align: center; */
}

.banner div {
    display: flex;
    flex-direction: column;
}

.banner p:first-child{
    z-index: 40;
    font-size: 3.5rem;
    font-weight: 400;
}

.banner p:last-child{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.banner p {
    z-index: 2;
    color: var(--text-secondary);
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-transform: uppercase;
}

.banner p span {
    font-weight: 700;
}

.banner img {
    padding-top: 2rem;
    height: 400px;
    z-index: 1;
    transition: opacity 0.1s;
}

/* Small screens */
@media only screen and (max-width: 800px) {
    .banner p {
        text-align: center;
        width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .banner img {
        position: fixed;
    }

    .banner p:last-child{
        z-index: 3;
        text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-weight: bold;
        font-size: 1rem;
    }
    .banner-background {
        height: calc(100vh - 2rem);
    }
}

/* Large screens */
@media only screen and (min-width: 800px) {
    .banner p {
        text-align: center;
        padding: 1rem;
        /* width: 50%; */
    }

    .banner-background {
        right: 1.5rem;
        bottom: 5rem;
        width: calc(100% + 2.5rem);
    }

    .banner-subtitle {
        font-size: 1.5rem;
    }
    .banner-background {
        height: 50vh;
    }
}
