.button {
    padding: 1rem;
    background-color: var(--button-color-primary);
    padding: .7rem;
    color: var(--text-secondary);
    border-radius: .25rem;
    display: inline-block;
    text-decoration: none;
    margin: .5rem;
}
.button:hover {
    color: var(--text-secondary);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add {
    background-color: var(--button-color-primary);
}

.remove {
    background-color: var(--button-color-remove);
}

.edit {
    background-color: var(--button-color-edit);
}