.button {
    padding: 0.8rem;
    background-color: var(--button-color-primary);
    color: var(--text-secondary);
    border-radius: .25rem;
    display: inline-block;
    text-decoration: none;
    border: none;
}

.full-width {
    width:100%;
}

.button:hover {
    color: var(--text-secondary);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add {
    background-color: var(--button-color-primary);
}

.inline {
    display: inline-block;
    margin-top: .5rem;
}

.remove {
    background-color: var(--button-color-remove);
}

.edit {
    background-color: var(--button-color-edit);
}

.warning {
    background-color: var(--button-color-warning);
}

.secondary {
    background-color: white;
    color: var(--bg-primary);
}

.secondary:hover {
    color: var(--bg-secondary);
}


input[type="submit"] {
    border: none;
    font-size: 1rem;
}

