#disabled-item {
    background-color: rgb(142, 149, 160);
}

form {
    margin: 3rem;
}

input:not([type='submit']), textarea, select {
    width: 100%;
}

/* Regular inputs */
label {
    color: var(--text-primary);
    position: relative;
    top: .5rem;
    left: .5rem;
    background-color: white;
    padding: .5rem;
    padding-bottom: 0rem;
}

.label-secondary {
    color: var(--text-secondary)
}

.label-active {
    color: var(--accent-color-1);
}

input {
    border: 2px solid var(--text-primary);
    border-radius: var(--border-radius);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
}

input:focus {
    border: 2px solid var(--accent-color-1); 
    outline: none;
}

input:focus > label {
    color: var(--accent-color-1);
}

/* Text boxes */
textarea {
    border: 2px solid var(--text-primary);
    resize: vertical;
    font-family: Helvetica;
    border-radius: var(--border-radius);
    padding-top: .5rem;
    padding-left: .5;
}

textarea:focus {
    outline: none;
    border: 2px solid var(--accent-color-1);
}

/* Select box */
select {
    border: 2px solid var(--text-primary);
    border-radius: var(--border-radius);
    padding-top: .5rem;
    padding-left: .5rem;
}

select:focus {
    border: 2px solid var(--accent-color-1);
    outline: none;
}

/* Radio button */
input[type='radio'] {
    vertical-align: middle;
    margin-top: .75rem;
}

.radio-button-label {
    vertical-align: middle;
}

input[type='radio']:last-child {
    margin-bottom: .5rem;
}


/* Submit buttons
input[type="submit"] {
    margin-top: 2rem;
} */

/* File inputs */
input[type='file'] {
    padding: 1rem;
    height: fit-content;
}

/* Format box */
.input-box {
    border: 2px solid var(--text-primary);
    border-radius: var(--border-radius);
    padding: .5rem;
}

/* List forms */

form[name='list-form'] input[name='l_Item'] {
    display: block;
    width: calc(100% - 1rem);
    margin: auto;
    margin-top: 1.5rem;
    height: 1.5rem;
}

form[name='list-form'] span {
    float: right;
}

input:not([type='submit']):not([type='radio']):not([type='file']) {
    height: 2rem;
}

textarea {
    height: 7rem;
}


.input-with-button {
    display: flex;
    flex-direction: row;
}

.input-with-button input:focus {
    border: 2px solid var(--accent-color-1); 
    border-width: 2px 0px 2px 2px;
    outline: none;
}

.input-with-button input:focus + button {
    border: 2px solid var(--accent-color-1); 
    border-width: 2px 2px 2px 0px;
    outline: none;
}

.input-with-button input {
    flex-grow: 2;
    border: 2px solid var(--text-primary);
    border-width: 2px 0px 2px 2px;
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
}



.input-with-button button {
    border: 2px solid var(--text-primary);
    border-width: 2px 2px 2px 0px;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    background: transparent;
    width: 2rem;
    color: var(--accent-color-3);
}

.input-with-button button:hover {
    background: var(--accent-color-3);
    color: var(--text-secondary);
    cursor: pointer;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
}