#disabled-item {
    background-color: rgb(142, 149, 160);
}

form {
    margin: 3rem;
}

/* List forms */

form[name='list-form'] input[name='l_Item'] {
    display: block;
    width: calc(100% - 1rem);
    margin: auto;
    margin-top: 1.5rem;
    height: 1.5rem;
}

form[name='list-form'] span {
    float: right;
}

input:not([type='submit']) {
    height: 2rem;
}

input, .input-with-button {
    border-radius: 0.25rem;
}

input:not(.X_removable):not([type='submit']), .input-with-button {
    border-radius: 0.25rem;
    border: 1px solid var(--bg-primary);
    margin-bottom: 0.5rem;
    padding: 0rem 0.0rem 0rem 0.5rem;
}

input:not(.X_removable):not([type='submit']):focus, .input-with-button:focus-within {
    box-shadow: var(--shadow-1);
}

.input-with-button {
    display: flex;
    flex-direction: row;
    border-radius: 0.25rem;
}

.input-with-button input {
    flex-grow: 2;
    border: none;
}

.input-with-button input:focus {
    outline: none;
}

.input-with-button button {
    border: none;
    background: transparent;
    width: 2rem;
    color: var(--accent-color-3);
}

.input-with-button button:hover {
    background: var(--accent-color-3);
    color: var(--text-secondary);
    cursor: pointer;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
}