.project {
    border: 1px solid var(--text-secondary);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    margin: 1rem;
    flex: 1;
}

.project img {
    max-height: 12rem;
    object-fit: cover;
}

.project:hover {
    box-shadow: var(--shadow-1);
}

.project .project-text {
    padding: 1rem;
}