body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--accent-color-1);
}

select::-webkit-scrollbar {
    width: 0.25rem;
}

select::-webkit-scrollbar-track {
    background-color: white;
}

select::-webkit-scrollbar-thumb {
    background: var(--accent-color-1);
}