table {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin: auto;
    border-collapse:collapse;
}

tr:nth-of-type(even) {
    background-color: var(--text-secondary);
}

tr {
    border: none;
}