.text-center {
	text-align: center;
}

h1 {
	display: block;
	margin:auto;
	margin-top: 5rem;
	margin-bottom: 3rem;
	text-align: center;
	padding: 1rem 2rem;
	color: var(--bg-secondary);
	text-shadow: var(--shadow-1);
	font-size: 3.5rem;
	font-weight: 200;
	font-family: 'Source Sans Pro Light', 'Helvetica', sans-serif;
	letter-spacing: .2rem;
}

.small {
	font-size: 0.8rem;
}

h2 {
	font-size: 2rem;
	font-family: 'Source Sans Pro Light', 'Helvetica', sans-serif;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
	padding: 1rem 2rem;
	text-shadow: var(--shadow-1);
	font-weight: 200;

}

h3 {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Source Sans Pro Light', 'Helvetica', sans-serif;
}

p {
	font-size: 1.25rem;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: justify;
}

.label {
	display: inline;
	color: var(--text-primary);
    position: relative;
    top: .5rem;
    left: .5rem;
    background-color: white;
    padding: .5rem;
    padding-bottom: 0rem;
	font-weight: 600;
	font-size: 1rem;
}