<div class="container p-4" style="max-width: 600px;">
  <div class="data-form">
      <form class="form-signin" action="/users/new" method="POST">
        <h2 class="form-signin-heading">Create New User</h2>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" class="form-control" autofocus>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" class="form-control" >
        <label for="username">Username</label>
        <input type="text" name='username' id='username' class=form-control>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" class="form-control" required>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create User</button>
      </form>
      <br />
      <p>Already have an account? <a href="/users/login">Log in.</a></p>
    </div>
  </div>