<div class="container my-5">
    <h3>Looks like you don't have a profile yet.</h3>
    <p>Why don't you <a href="/createProfile" id="createProfile">create one</a>?</p>
</div>

<style>
    #createProfile {
        color: rgb(10, 167, 10);
    }
    #createProfile:hover {
        color: rgb(9, 109, 9);
        cursor: pointer;
    }
</style>
