<div class="container">
<h2 class="display-2 my-4">Privacy</h2>
<p>Don't worry, I don't collect your data. I do, however, reserve the right to do so if I decide to modify my application in any way in the future.</p>
</div>