<div class="container">
<h1><%= user.name.firstName %> <%= user.name.lastName %></h1>

<a href="/users/<%= user._id %>/edit"><button class="btn btn-primary btn-lg btn-block" type="button">Edit</button></a>
</div>