<h1>This is all the music</h1>

<button class="button add" id="add-song-btn">Add Song</button>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <% for (song of songs) { %>
            <td><%= song._title %></td>
            <td><%= song._link %></td>
            <% } %>
    </tbody>
</table>



<!-- Modal for adding a song  -->
<div class="modal modal-large">
    <span id="song-modal-X">X</span>
    <div>
        <h2>Add a song</h2>
        <h3>Paste a YouTube link below</h3>
        <input type="text" id="youtube-link" class="full-width" placeholder="Paste a YouTube link here">
        <button type="submit" id="check-youtube-btn" class="button add full-width">Check YouTube</button>
    </div>
</div>
